.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.8em;
    font-size: 1.5em;
    font-family: Poppins;

}

.textarea {
    margin-top: 1.2em;
    width: 35em;
    height: 20rem;
    padding: .8em;
    size: 6px;
    font-size: 30px;
    border-radius: 5px;
    border: 3px solid #f19696;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    width: 8em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fd4a4a;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

.btn2 {
    width: 8em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 94, 1);
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    border: none;
}


.btn:hover{
    background-color:#f96060 ;
}
.btn:active{
    background-color:#f83d3d ;
}